{{!-- /home/enzi/HXLX/theme/index.hbs --}}
<!DOCTYPE HTML>
<html lang="{{ language }}" class="{{ default_theme }} sidebar-visible" dir="{{ text_direction }}">
    <head>
        <!-- Book generated using mdBook -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {{#if is_print }}
        <meta name="robots" content="noindex">
        {{/if}}
        {{#if base_url}}
        <base href="{{ base_url }}">
        {{/if}}


        <!-- Custom HTML head -->
        {{> head}}

        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff">

        {{#if favicon_svg}}
        <link rel="icon" href="static/img/favicon.svg">
        {{/if}}
        {{#if favicon_png}}
        <link rel="shortcut icon" href="static/img/favicon.png">
        {{/if}}
        {{!-- <link rel="stylesheet" href="static/css/background.css"> --}}
        {{!-- <link rel="stylesheet" href="static/css/glass.css"> --}}
        {{!-- <link rel="stylesheet" href="static/css/hxlx-variables.css"> --}}
        <link rel="stylesheet" href="static/css/general.css">
        {{!-- <link rel="stylesheet" href="static/css/chrome.css"> --}}
        {{!-- <link rel="stylesheet" href="static/css/panzoom.css"> --}}
        {{!-- <link rel="stylesheet" href="static/css/toc.css"> --}}
        {{!-- <link rel="stylesheet" href="{{ resource "css/catppuccin.css" }}"> --}}
        {{#if print_enable}}
        <link rel="stylesheet" href="static/css/print.css" media="print">
        {{/if}}

        <!-- Fonts -->
        <link rel="stylesheet" href="static/fonts/fonts.css">

        <!-- Highlight.js Stylesheets -->
        <link rel="stylesheet" id="mdbook-highlight-css" href="static/css/highlight.css">
        <link rel="stylesheet" id="mdbook-tomorrow-night-css" href="{{ resource "tomorrow-night.css" }}">
        <link rel="stylesheet" id="mdbook-ayu-highlight-css" href="{{ resource "ayu-highlight.css" }}">

        <!-- Custom theme stylesheets -->
        {{#each additional_css}}
        <link rel="stylesheet" href="{{ resource this }}">
        {{/each}}

        <!-- Scripts -->
        {{!-- <script src="static/js/regl.min.js" defer></script> --}}
        <script src="static/js/three-min.js"></script>
        <script src="static/js/CSS3DRenderer.js"></script>
        <script src="static/js/CSS2DRenderer.js"></script>
        {{!-- <script src="static/js/gl-matrix-min.js" defer></script> --}}
        <script src="static/js/svgpanzoom.min.js"></script>
        <script src="static/js/mermaid.min.js"></script>
        <script src="static/js/mermaid-panzoom.js"></script>
        <script src="static/js/alpine.min.js" defer></script>
        {{!-- <script src="static/js/alpine-init.js"></script> --}}

        <!-- ✅ LOAD YOUR WEB COMPONENT HERE -->
        {{!-- <script src="static/js/color-table.js"></script> --}}
        {{!-- <script src="static/js/display.js" defer></script> --}}
        <script type="module" src="static/js/three-init2.js" defer></script>
        {{#if mathjax_support}}
        <!-- MathJax -->
        <script src="static/js/MathJax.js"></script>
        {{/if}}

        <!-- Provide site root and default themes to javascript -->
        <script>
            const path_to_root = "{{ path_to_root }}";
            const default_light_theme = "{{ default_theme }}";
            const default_dark_theme = "{{ preferred_dark_theme }}";
        {{#if search_js}}
            window.path_to_searchindex_js = "{{ resource "searchindex.js" }}";
        {{/if}}
        </script>
        <!-- Start loading toc.js asap -->
        <script src="{{ resource "toc.js" }}"></script>
    </head>
    <body>
        <div id="hx-canvas"></div>

        <!-- Frame overlay -->
        <div id="frame">
            <div class="frame-image"></div>
        </div>
    </body>
</html>
